.img6{
    background-size: contain;
}
.img5{
    background-size: contain;
}
.img4{
    background-size: contain;
}
.img3{
    background-size: contain;
}
.img2{
    background-size: contain;
}
.img1{
    background-size: contain;
}